-e .
accelerate
checksumdir
datasets
distinctipy
evaluate
gensim
matplotlib
nltk
scikit-learn
scipy
seaborn
sentence_transformers
torch
tqdm
transformers
wrapt
wandb  # optional

# colbert
-e ./ColBERT
bitarray
faiss-gpu
gitpython
ninja
ujson

# dev
black
flake8
flake8-annotations
flake8-black
flake8-builtins
flake8-isort
Flake8-pyproject
flake8-use-fstring
isort
reindent

# testing
pytest
pytest-cov

# notebooks
notebook==7.0.0b3
ipywidgets
