-e .
accelerate
checksumdir
datasets
distinctipy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
evaluate
gensim
matplotlib
scikit-learn
scipy
seaborn
sentence_transformers
spacy
torch
tqdm
transformers
wrapt
wandb  # optional

# colbert
-e ./ColBERT
bitarray
faiss-gpu
gitpython
ninja
ujson

# dev
black
flake8
flake8-annotations
flake8-black
flake8-builtins
flake8-isort
Flake8-pyproject
flake8-use-fstring
isort
reindent

# testing
pytest
pytest-cov

# notebooks
notebook==7.0.0b3
ipywidgets
